/*

* {
    margin: 0;
    padding: 0;
}

*/

.container {
    
    width           : 560px;
    height          : 300px;
    margin-top      : 0;
    margin-bottom   : 0;
    margin-left     : auto;
    margin-right    : auto;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    
}

.note {
    
    width           : 60px;
    border-radius   : 20px;
    color           : white;
    cursor          : pointer;
    
}

.note:nth-child(1) {
    
    background  : #02B65E;
    height      : 300px;
    
}

.note:nth-child(2) {
    
    background  : #F0D20E;
    height      : 280px;
    
}

.note:nth-child(3) {
    
    background  : #D04559;
    height      : 260px;
    
}

.note:nth-child(4) {

    background  : #E28C12;
    height      : 240px;
    
}

.note:nth-child(5) {
    
    background  : #8E83C8;
    height      : 220px;
    
}

.note:nth-child(6) {
    
    background  : #0285D4;
    height      : 200px;
    
}

.note:nth-child(7) {
    
    background  : #FDC1C0;
    height      : 180px;
    
}

.note:nth-child(8) {
    
    background  : #BE3C22;
    height      : 160px;
    
}

.boton {
    
    width           : 560px;
    height          : 50px;
    margin-left     : auto;
    margin-right    : auto;
    margin-top      : 20px;
    margin-bottom   : 20px;
    background      : black;
    cursor          : pointer;
    
}


.boton p {

    color: white;

}

.whiteBold {

    font-family : Helvetica, Arial, Sans-Serif;
    font-weight : bold;
    font-size   : 20px;
    user-select : none;

}

.center {

    display         : flex;
    justify-content : center;
    align-items     : center;

}